
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] - RealEstates.Web</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <section class="intro-single container">
        <form method="get" asp-action="GetProperties">
            <div class="col-md-6">
                <h4>Цена на имота</h4>
                <label>от :</label>
                <input name="minPrice" placeholder="Минимална">
                <label>до :</label>
                <input name="maxPrice" placeholder="Максимална">
            </div>
            <br />
            <div class="col-md-6">
                <h4>Квадратура: (кв.м)</h4>
                <label for="inputEmail4">от :</label>
                <input type="number" placeholder="Минимална">
                <label for="inputEmail4">до :</label>
                <input type="number" placeholder="Максимална">
            </div>
            <br />
            <div class="col-md-6">
                <h4>Цена на кв.м площ</h4>
                <label for="inputEmail4">от :</label>
                <input type="number" placeholder="Минимална">
                <label for="inputEmail4">до :</label>
                <input type="number" placeholder="Максимална">
            </div>
            <br/>
            <div class="col-md-4">
                <label for="inputState">Вид на имота</label>
                <select id="inputState" class="form-control">
                    <option selected>Всички...</option>
                    <option>...</option>
                </select>
            </div>
            <br/>
            <div class="col-md-4">
                <label for="inputZip">Търсене по ключова дума</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
            <hr />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </section>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>
</body>

</html>